body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#cc-logo {
  width: 10%;
  height: 10%;
}

.center-content {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

q {
  font-style: italic;
  color: gray;
}