* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #981e32;
}

#construction-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



div#construction-wrapper > h1, div#construction-wrapper > h2, h3 {
    font-family: monospace;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 60px;
        width: 100%;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    
    h2 {
        margin-top: 10px;
        font-size: 45px;
    }
    #cc-logo {
        width: 40%;
        height: 40%;
        display: block;
        margin: 0 auto 20px auto;
        animation: rotation 2s infinite linear;
    }

    h3 {
      margin: 20px 0;
      font-size: 35px;
    }
    input {
      display: block;
      margin: 0 auto;
      font-family: monospace;
      font-size: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 45px;
        width: 100%;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    
    h2 {
        margin-top: 10px;
        font-size: 30px;
    }

    #cc-logo {
        width: 30%;
        height: 30%;
        display: block;
        margin: 0 auto 20px auto;
        animation: rotation 2s infinite linear;
    }
    h3 {
      font-size: 20px;
    }
    input {
      display: block;
      margin: 0 auto;
      font-family: monospace;
      font-size: 30px;
    }
}



@keyframes rotation {
  from {
    transform: rotate3d(0, 0, -1, 0deg)
  }
  to {
    transform: rotate3d(0, 1, 0, 359deg);
  }
}
 /* PASSWORD: CODINGCOUGS2020 */