* {
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
  width: 100%;
  
}

body {

}
#nav-bar {
  height: auto;
  background: white;
}

div#nav-bar div a {
  color: #111111;
  padding: 1.5rem;
  display: inline-block;
  /* margin: 0 0.25rem; */
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500; 
}

.inner-nav-bar-wrapper {
  /* margin: 0 0.25rem; */
  display: flex;
  justify-content: center;
}

div#nav-bar div button {
  float: right;
  margin: 1.5rem;  
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500; 
  color: white;
  border: none;
  background-color: #981e32;
  padding: 1rem;
  border-radius: 2px;
}
div#nav-bar div a:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

#header-bar {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  height: 5rem;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

a {
  color: #111111;
  padding: 1.5rem;
  display: inline-block;
  /* margin: 0 0.25rem; */
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500; 
  user-select: none;
}

a:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

button {
  float: right;
  margin: 1.5rem 1.5rem 1.5rem auto;  
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500; 
  color: white;
  border: none;
  background-color: #981e32;
  padding: 0.75rem;
  border-radius: 2px;
  user-select: none
}

button:hover {
  cursor: pointer;
}

#landing-page-img {
  width: 100%;
  height: 70rem;
  background-color: #f1f1f1;
}

.image {
  width: 100%;
  height: 70rem;
  object-fit: cover;

}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 10rem 0 2.5rem 0;
}

p.sub {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}

div#header-bar img {
  height: 52px;
  width: 52px;
  
  margin: 1.5rem auto 1.5rem 1.5rem;
}

img.image {
  clear: both;
}

.dummy-text-container {
  margin: 10rem auto 5rem auto;
  width: 30%;
}

.dummy-text {
 
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  color: #676767;
  font-weight: 300;
}

.fake-cite {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  color: #676767;
  font-weight: 300;
  text-align: right;
}

.code-wrapper {
  margin: 10rem auto 10rem auto;
  width: 100%;
}

.code-container {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.code {
  text-align: center;
  padding: 1rem;
  color: gray;
  font-family: monospace;
  font-size: 1.5rem;
}

.flavor-img {
  width: 30%;
  display: block;
  margin: 0 auto 2.5rem auto;
}

.flavor-text {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 2.5rem 0 2.5rem 0;
}